body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.animes-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  );
  list-style: none;
  grid-gap: 1.5rem;
  padding: 0 20px;
}

.animes-list img {
  max-width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination li + li {
  margin-left: 1rem;
}

.pagination li > button {
  cursor: pointer;
}

.pagination__item--active {
  background: none;
  font-weight: bold;
  border: none;
}

.pagination__item--active:focus {
  outline: none;
}

.placeholder {
  width: 100%;
  height: 0;
  padding-top: 142%;
  background: #ddd;
}

